body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
 #home{
   background-color: rgba(0,0,0,0.7);
 }
 
 #actors{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 300px;
  height: 300px;
  border: solid black 2px;
  background-color: #228be6;
}

#auditionees > ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

h4{
  background-color: #ced4da;
  margin: none
}

#table-boot{
display: flex;
flex-direction: column;
margin: 2rem;

}

#roles {
  margin: 2rem
}

#auditionees{
  width:200px;
  color: #ced4da;
  font-family: 'Gill Sans'
}

#shot {
  height: 1rem;
  width: 2rem;
  background-color: rgb(254, 212, 0);
}

#camera {
  display: flex;

  align-content: center;
  height: 6rem;
  width: 7rem;
  background-color: #228be6;
  border: solid black 1px;
}
#camera > div {
  height: 3rem;
  width: 3rem;
  margin: 1.5rem;
  border: solid black 2px;
  background-color: #ced4da;
  border-radius: 3rem;
}
#cam {
margin: 2rem;
display: flex;
flex-direction: column;
}

.tripod {
  display: flex;
  margin: 2rem;
  width: 1rem;
  height: 15rem;
}


.table {
  background-color: #228be6;
}

.table-head {
  background-color: #ced4da;
}



